.cart-wrapper {
  padding: 0 !important;
  margin-top: 72px !important;
}
.cart-header {
  background-color: #44bd32;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 25px 0 5px;
  font-size: 16px;
  color: #000;
  height: 45px;
  font-weight: 600;
  color: white;
  box-shadow: 0 1px 3px rgb(0 0 0 / 12%), 0 1px 2px rgb(0 0 0 / 24%);
}
.cart-header p {
  margin: 0;
}
.header-left {
  display: flex;
  align-items: center;
}

.header-left input {
  height: 27px;
  width: 30px;
  margin-right: 50px;
}

.cart-content {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
}
.cart-left {
  padding: 10px;
}
.cart-left p {
  margin: 0;
  font-size: 14px;
  line-height: 25px;
  font-weight: 300;
}
.cart-left p span {
  font-weight: 700;
}
.payment-type {
  margin-top: 5px;
  font-size: 13px;
  font-weight: 500 !important;
}

/* cart right  */
.cart-right {
  border-left: 1px solid #d3d3d3;
  grid-column: 3/6;
}

/* single product  */
.single-cart-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  border-bottom: 1px solid #d3d3d3;
}

/* quantity  */
.single-cart-quantity {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding-top: 10px;
  padding-bottom: 10px;
}
.single-cart-quantity button {
  /* width: 10px; */
  background-color: white;
  border: none;
  cursor: pointer;
  font-size: 18px;
}
.single-cart-quantity span {
  font-size: 18px;
}

/* image  */
.cart-product-img {
  width: 40px;
  display: flex;
  align-items: center;
}
.cart-product-img img {
  width: 100%;
}

/* name  */
.cart-product-name {
  font-weight: 300;
}
.prod-title {
  font-size: 15px;
  line-height: 15px;
  margin: 0;
  padding-bottom: 5px;
}
.prod-subtitle {
  margin: 0;
  font-size: 10px;
}
.red-taka {
  font-size: 9px;
  margin-right: 2px;
  color: #e84118;
  font-weight: 500;
}

/* price  */
.prod-price {
  font-size: 11px;
  color: #e84118;
  font-weight: 600;
}

/* delete  */
.prod-delete {
  font-size: 22px;
  margin-right: 10px;
  cursor: pointer;
}

/* cart-footer  */
.cart-footer {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 1px 1px rgb(50 50 50 / 75%);
  position: sticky;
  bottom: 0;
  background-color: white;
}
.cart-footer-left {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  /* gap: 20px; */
}
.cart-footer-logo {
  margin-bottom: 5px;
  margin-left: 10px;
  width: 35px;
}
.total-quantity {
  margin-left: 10px;
  font-size: 16px !important;
  font-weight: 500;
}
.total-price {
  font-size: 16px !important;
  font-weight: 600;
}
.footer-taka {
  font-size: 11px;
  font-weight: 400;
}
.cart-footer-right {
  display: flex;
  align-items: center;
  /* gap: 20px; */
}
.place-order-btn {
  /* width: 100%; */
  padding: 15px !important;
  background-color: #006a4e;
  color: white;
  font-weight: 700;
  border: 1px solid transparent;
}
.delete-all-order {
  padding: 0 15px;
  font-weight: 400;
  font-size: 30px;
  cursor: pointer;
  margin: 0;
}
