.footer {
  background: rgba(222, 222, 222, 0.233);
  padding-top: 25px;
}
.footer-wrapper {
  max-width: 1240px;
  padding: 15px;
  margin: 0 auto;
}
.footer-contact-part {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(219px, 1fr));
  justify-content: center;
  grid-gap: 30px;
  width: 100%;
}
.social-media-col {
  text-align: center;
}
.single-contact-part {
}
.footer-company-logo img {
  width: 110px;
}
.social-icons {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 25px;
}
.social-icons a,
.footer-common-icon {
  text-decoration: none;
  font-size: 1.2em;
  color: #006a4e;
  transition: all 0.4s;
}
.social-icons a:hover {
  color: #e84118;
}
.app-btn {
  margin-top: 25px;
}
.app-btn button {
  background: #006a4e;
  width: 200px;
  font-size: 15px;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 600;
  border-radius: 3px;
  height: 36px;
  line-height: 36px;
  border: none;
  cursor: pointer;
}
.copyright {
  font-weight: 300;
  font-size: 15px;
}
.footer-link-list {
  list-style: none;
  padding: 0;
}
.single-contact-title {
  font-size: 16px;
  font-weight: 700;
  text-transform: capitalize;
  text-align: left;
  color: #313131;
  margin: 0;
}
.footer-link-list li {
  margin-bottom: 8px;
  display: flex;
  gap: 10px;
}
.footer-link-list li p {
  margin: 0;
}

.footer-link-list li a,
.footer-link-list li {
  text-decoration: none;
  color: #615e58;
  font-size: 14px;
  font-weight: 400;
  transition: all 0.45s cubic-bezier(0.23, 1, 0.32, 1) 0ms;
}
.footer-link-list li a:hover {
  color: #006a4e;
}
.contact-phone {
  border: 1px solid #d3d3d3;
  width: 200px;
  padding: 5px 10px;
  color: #615e58;
  font-size: 14px;
  font-weight: 400;
}
.footer-payment-part {
  border-top: 1px solid #d3d3d3;
  margin-top: 20px;
  padding: 10px 0;
}
.footer-payment-part img {
  width: 100%;
}
