.main {
  display: flex;
}
.main-right {
  background-color: white;
  width: calc(100% - 270px);
  margin-left: 270px;
  position: relative;
}

.right-content {
  max-width: 1240px;
  margin-top: 121px;
  background-color: white;
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto;
}
