.main-left {
  top: 70px;
  width: 270px;
  height: 100vh;
  position: fixed;
  z-index: 2;
  overflow: auto;
  box-shadow: 0 1px 3px rgb(0 0 0 / 12%), 0 1px 2px rgb(0 0 0 / 24%);
  border-right: 1px solid rgba(119, 108, 108, 0.30980392156862746);
  background-color: white;
}
.main-sidebar {
  /* background: orange; */
}
.main-left::-webkit-scrollbar {
  width: 5px;
}
.main-left::-webkit-scrollbar-track {
  background: #f1f1f1;
}
.main-left::-webkit-scrollbar-thumb {
  background: #888;
}
.main-left::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.sidebar-top,
.sidebar-bottom {
  list-style: none;
  padding-left: 0 20px;
  /* border-bottom: 1px solid hsla(0, 0%, 50.2%, 0.21176470588235294); */
  margin-top: 10px;
  margin-bottom: 0;
  padding: 0 20px;
}

.sidebar-single-item {
  transition: all 0.45s cubic-bezier(0.23, 1, 0.32, 1) 0ms;
}
.sidebar-single-item:hover {
  padding-left: 8px;
}
.side-bar-link {
  text-decoration: none;
  font-size: 15px;
  color: #006a4e;
  font-weight: 700;
  padding: 7px 0px 7px 10px;
  display: flex;
  align-items: center;
  gap: 0 15px;
}
.sidebar-bottom .side-bar-link {
  padding: 10px 0px 10px 10px;
}
.sidebar-bottom {
  padding-bottom: 50px;
}
.side-bar-link img {
  width: 30px;
}

.sidebar-explore {
  padding: 10px 20px;
  border-top: 1px solid hsla(0, 0%, 50.2%, 0.21176470588235294);
  border-bottom: 1px solid hsla(0, 0%, 50.2%, 0.21176470588235294);
  background: hsla(0, 0%, 50.2%, 0.09019607843137255);
}
.sidebar-explore a {
  text-decoration: none;
  font-size: 15px;
  font-weight: 700;
  padding-left: 10px;
}
